  <!-- End Pre-Loader -->
  <header class="header-style-2">
    <div class="bg-header-top">
        <div class="container">
            <div class="row">
                <div class="header-top">
                    <ul class="h-contact">
                        <li><i class="flaticon-time-left"></i> Time : Tusday-Monday : 9:00am-6:00pm</li>
                        <li><i class="flaticon-vibrating-phone"></i> Phone : +88017 923 970 659</li>
                        <li><i class="flaticon-placeholder"></i> Address : Sute 07 Sahara Center</li>
                    </ul>
                    <div class="donate-option">
                        <a href="donate.html"><i class="fa fa-heart" aria-hidden="true"></i> donate now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .bg-header-top -->
    <!-- Start Menu -->
    <div class="bg-main-menu menu-scroll">
        <div class="container">
            <div class="row">
                <div class="main-menu">
                    <div class="main-menu-bottom">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="index.html">
                                <img src="assets/images/logo.png" alt="logo" class="img-responsive" style="width: 80px; height: auto;" />
                            </a>
                            
                            <button type="button" class="navbar-toggler collapsed d-lg-none" data-bs-toggle="collapse" data-bs-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="navbar-toggler-icon">
                                    <i class="fa fa-bars"></i>
                                </span>
                            </button>
                        </div>
                        <div class="main-menu-area">
                            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                                <ul>
                                    <li>
                                        <a href="#" class="active">HOME</a>
                                        <ul class="sub-menu">
                                            <li class="sub-active"><a href="index.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Home Page one</a></li>
                                            <li><a href="home02.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Home Page two</a></li>
                                            <li><a href="home03.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Home Page three</a></li>
                                            <li><a href="home_box.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Home Box style</a></li>
                                            <li><a href="home_onepage.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Home One Page</a></li>
                                            <li><a href="index-rtl.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> الصفحة الرئيسية رتل</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About</a></li>
                                    <li>
                                        <a href="#">Services</a>
                                        <ul class="sub-menu">
                                            <li><a href="services.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Services</a></li>
                                            <li><a href="service_single.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Single Service</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">pages</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Our Team</a>
                                                <ul class="sub-sub-menu">
                                                    <li><a href="team.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Team</a></li>
                                                    <li><a href="team_single.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Single Team</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Our project</a>
                                                <ul class="sub-sub-menu">
                                                    <li><a href="project.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Projects</a></li>
                                                    <li><a href="project_single.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Single Project</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Shop</a>
                                                <ul class="sub-sub-menu">
                                                    <li><a href="shop.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Shop</a></li>
                                                    <li><a href="shop_single.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Single Shop</a></li>
                                                    <li><a href="shop_cart.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Shop Cart</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Campaign</a>
                                                <ul class="sub-sub-menu">
                                                    <li><a href="campaign.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Campaign</a></li>
                                                    <li><a href="campaign_single.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Single Campaign</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="donate.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Donate Page</a></li>
                                            <li><a href="404_page.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> 404 Page</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Events</a>
                                        <ul class="sub-menu">
                                            <li><a href="event.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Events</a></li>
                                            <li><a href="event_single.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Single Event</a></li>
                                        </ul>
                                    </li>
                                    
                                    <li>
                                        <a href="register">Sign up</a>
                                    
                                    </li>
                                    <a href="login" class="btn btn-default">Login</a>
                                </ul>
                                <div class="menu-right-option pull-right">
                                    <div class="cart-option">
                                     
                                        <!-- .cart-icon -->
                                     
                                        <!-- .cart--->
                                    </div>
                                    <!-- .cart-option -->

                                    <div class="search-box">
                                        <i class="fa fa-search first_click" aria-hidden="true" style="display: block;"></i>
                                        <i class="fa fa-times second_click" aria-hidden="true" style="display: none;"></i>
                                    </div>
                                    <div class="search-box-text">
                                        <form action="https://aminurislam.com/labartisan/greenforest-demo/greenforest/search">
                                            <input type="text" name="search" id="all-search" placeholder="Search Here">
                                        </form>
                                    </div>
                                </div>
                                <!-- .header-search-box -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>